<ion-view view-title="Perfil">
  <ion-content class="padding">
    <h2>Lucas Bonanni</h2>
    <p>
    SSr Developer en <a href="http://www.bejerman.com/" target="_blank">Sistemas Bejerman</a>.
    </p>
    <p>
       <a href="https://ar.linkedin.com/in/lucasbonanni" target="_blank">Mi perfil en Linked In</a>.
    </p>
    <p>
    Estudiante de la <a href="http://sistemas-utnfra.com.ar" target="_blank">UTN</a>. Por finalizar la carrera de Tecnicatura Superior en Proramación
    </p>
    <p>
      Además desarrollador de aplicaciones web y móbiles (proximamente), diseño de paginas web. Desarrollo de módulos para Prestashop, Wordpress y nopCommmerce.
    </p>
  </ion-content>
</ion-view>
